<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ITGirls - IT starts with you!</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/creative.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <section id="primarycall">
      <div class="logo">&lt;it<span class="dot">.</span>gi<span class="squish">r/</span>s&gt;</div>
      <div class="container">
        <div class="row nav">
          <div class="col-lg-2 text-center navlink active">Home</div>
          <div class="col-lg-2 text-center navlink">Learn</div>
          <div class="col-lg-2 text-center navlink">Discover</div>
          <div class="col-lg-2 text-center navlink">Activities</div>
          <div class="col-lg-2 text-center navlink">Prizes</div>
          <div class="col-lg-2 text-center navlink">About</div>
        </div>
      </div>
<!--         <ul>
          <li class="active"><a href="/">Home</a></li>
          <li>Learn</li>
          <li>Discover</li>
          <li>Activities</li>
          <li>Prizes</li>
          <li>About</li>
 -->
    </section>



    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="quicksand">
            <p class="text-faded" id="leading">because</p>
              <strong class="tagline">smart girls rule</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Welcome, IT.Girls!</h2>
            <hr class="light my-4">
            <p class="text-white mb-4">Anyone can be an IT.Girl - we're here to help.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#smart-things ">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="smart-things">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><span class="logo">9 Smart Things <br /><span class="dot">You Can Do With</span> Technology</span></h2>
          </div>
        </div>
      </div>
      <div class="container activities">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/read_icon.png"/>
              <h3 class="mb-3">Read</h3>
              <p class="mb-0">Gain more knowledge on the worlds -- fiction or non-fiction -- around you.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/write_icon.png"/>
              <h3 class="mb-3">Write</h3>
              <p class="mb-0">Make your thoughts count and turn your feelings to art.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/learn_icon.png"/>
              <h3 class="mb-3">Learn</h3>
              <p class="mb-0">Learn how to make, do or experience something new.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/watch_icon.png"/>
              <h3 class="mb-3">Watch</h3>
              <p class="mb-0">Check out the latest happenings in news, entertainment, reviews and tutorials.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/create_icon.png"/>
              <h3 class="mb-3">Create</h3>
              <p class="mb-0">Unleash your imagination and turn your screen to a canvas.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/share_icon.png"/>
              <h3 class="mb-3">Share</h3>
              <p class="mb-0">Send interesting content to like-minded people.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/join_icon.png"/>
              <h3 class="mb-3">Join</h3>
              <p class="mb-0">Join events and activities made for and by smart, special IT Girls like you.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/prizes-gift.png"/>
              <h3 class="mb-3">Win Prizes</h3>
              <p class="mb-0">Get cool prizes for you and the people you care about!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/play_icon.png"/>
              <h3 class="mb-3">Play</h3>
              <p class="mb-0">Have fun and learn awesome things at the same time!</p>
            </div>
          </div>
        </div>

        </div>  
    </section>

    <section id="prizes">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Win Prizes While Learning</h2>
            <p class="text-grey mb-4">Complete fun activities to earn points<br />and exchange them for amazing prizes!</p>
          </div>
        </div>

        <div class="row text-white">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/potato.png"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/national.png"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/mindm.png"/>
            </div>
          </div>
        </div>
        <div class="row text-white">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/mcdo.png"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/skating.png"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="/img/happylemon.png"/>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="container">

        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/smart-things ">I'm Ready To Learn and Win Prizes<sup>*</sup></a>
            <br />
            <br />

            <div>
            <p class="text-grey"><strong>If you’re <span class="text-primary">12 years or younger</span>, get your <span class="text-primary">parent</span> to help you sign up.</strong></p></div>
          </div>
        </div>

      </div>
    </section>


    <section class="bg-blue" id="topics">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Tracks to Explore</h2>
          </div>
          <br />
          <br />
          <br />
          <div class="col-lg-12 mx-auto text-center">
            <div class="topic-banner developer">
              <h2 class="section-heading">The Developer IT Girl Track</h2>
              <h3>Build, design and fix stuff with<br/>computer science, logic and data</h3>
            </div>
          </div>
          <div class="col-lg-12 mx-auto text-center">
            <div class="topic-banner designer">
              <h2 class="section-heading">The Designer IT Girl Track</h2>
              <h3>Create and organize stuff with art, information<br/>design and user experience techniques</h3>
            </div>
          </div>
          <div class="col-lg-12 mx-auto text-center">
            <div class="topic-banner business">
              <h2 class="section-heading">The Business Maker IT Girl Track</h2>
              <h3>Work with people through sales, marketing, data<br/>analytics, HR and customer experience</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-green" id="meet">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Make new friends + meet other IT Girls</h2>
            <br />
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/smart-things ">
              Go and Discover</a>
              <br />
              <br />
            <p class="text-grey"><strong>Join our IT Girls community in</strong></p>
            <img src="/img/fb-big.png" class="icons"><img src="/img/ig-big.png"><img src="/img/yt-big.png" class="icons"><img src="/img/li-big.png">
          </div>
        </div>  
      </div>
    </section>

    <section class="bg-orange" id="footer">
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery-easing/jquery.easing.min.js"></script>
    <script src="/scrollreveal/scrollreveal.min.js"></script>
    <script src="/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>

  </body>

</html>
