<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ITGirls - IT starts with you!</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/creative.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <header class="masthead quiz-banner text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="">
              <strong>Which IT.Girl are you?</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-fa ded mb-5">Millions of smart girls shine in the world of IT or Information Technology. Whether you love to make art, make calculations or make money, there’s a role for everyone in IT.
            Find out which kind of IT Girl role is most fun for you!</p>
            <a class="btn start-quiz btn-xl js-scroll-trigger" href="#itgirlquiz">Start Quiz!</a>
          </div>
        </div>
      </div>
    </header>

    <section id="itgirlquiz">
      <div class="container">

        <h2 class="quiz-question">#1 Pick a color:</h2>
        <div class="quiz-choices" data-quiz-question="1">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                White
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Orange
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Black
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Blue
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Pink
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Teal
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#2 Pick something to eat/drink:</h2>
        <div class="quiz-choices" data-quiz-question="2">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Milk Tea
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Cake
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Burger
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Ice Cream
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Pizza
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Cookies
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#3 Pick your fave subject:</h2>
        <div class="quiz-choices" data-quiz-question="3">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Art
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Science
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Computer
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Math
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                English
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                History
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#4 Pick the first place you would visit at the mall:</h2>
        <div class="quiz-choices" data-quiz-question="4">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                National Bookstore 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Supermarket 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Fully Booked
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Data Blitz
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Cinema
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Wherever my companion goes
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#5 Pick a word that describes you:</h2>
        <div class="quiz-choices" data-quiz-question="5">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Creative
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Understanding
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Smart
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Independent
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Friendly
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Leader
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#6 Pick your favorite game/toy:</h2>
        <div class="quiz-choices" data-quiz-question="6">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Jigsaw puzzle
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Barbie
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Rubik's Cube
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Playstation
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Monopoly 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Uno 
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#7 Pick a Disney character:</h2>
        <div class="quiz-choices" data-quiz-question="7">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Rapunzel 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Mulan
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Elsa 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Hero of Big Hero
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Anna 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Moana 
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#8 Pick something you like:</h2>
        <div class="quiz-choices" data-quiz-question="8">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Making something new
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Doodling
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Working alone
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Solving a hard problem
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Money 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Making new friends
              </span>
            </div>
          </div>
        </div>


        <h2 class="quiz-question">#9 Now pick something you don't like:</h2>
        <div class="quiz-choices" data-quiz-question="9">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Being bored
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Hard-to-use things
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Parties
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Doing the same things
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Being alone 
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Not being listened to
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">#10 Pick a fun summer break activity:</h2>
        <div class="quiz-choices" data-quiz-question="10">
          <div class="row">
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="a">
              <span>
                Watching animated movies
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="b">
              <span>
                Making a scrapbook
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="c">
              <span>
                Playing mobile games
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="d">
              <span>
                Trying new card/board games
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="e">
              <span>
                Having a Youtube marathon
              </span>
            </div>
            <div class="col-lg-4 col-sm-6 box quiz-answer" data-quiz-answer="f">
              <span>
                Outing with friends
              </span>
            </div>
          </div>
        </div>

    </section>
    <section class="results-section">
      <div class="quiz-result" id="track-developer" style="display:none;">
        <img src="/img/track-developer.png"/>
      </div>
      <div class="quiz-result" id="track-designer" style="display:none;">
        <img src="/img/track-designer.png"/>
      </div>
      <div class="quiz-result" id="track-business" style="display:none;">
        <img src="/img/track-business.png"/>
      </div>
      <div id="lets-go" style="display:none;">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <a class="btn start-quiz btn-xl js-scroll-trigger" href="https://xd.adobe.com/view/541a20bc-0b82-4b9e-506e-e3e691a35de8-222b/">Let's go!</a>
            <br /><br />
            <img src="/img/logo.png"/>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery-easing/jquery.easing.min.js"></script>
    <script src="/scrollreveal/scrollreveal.min.js"></script>
    <script src="/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
    <script src="/js/quiz.js"></script>

  </body>

</html>
