<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Which ITGirl are you?</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/creative.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">ITGirls.ph</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="learn">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="discover">Discover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active-white" href="have-fun">Have Fun</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="prizes">Prizes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Quiz: Which ITGirl are you?</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-fa ded mb-5">Lorem ipsum</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#itgirlquiz">Find Out</a>
          </div>
        </div>
      </div>
    </header>

    <section id="itgirlquiz">
      <div class="container">

        <h2 class="quiz-question">Q1: How do you spell "Red"?</h2>
        <div data-quiz-question="1">
          <div class="row">
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="a">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="b">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="c">
              <span>
                a. Red
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="a">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="b">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="c">
              <span>
                a. Red
              </span>
            </div>
          </div>
        </div>

        <h2 class="quiz-question">Q2: How do you spell "Blue"?</h2>
        <div data-quiz-question="2">
          <div class="row">
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="a">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="b">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="c">
              <span>
                a. Red
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="a">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="b">
              <span>
                a. Red
              </span>
            </div>
            <div class="col-lg-4 box quiz-answer" data-quiz-answer="c">
              <span>
                a. Red
              </span>
            </div>
          </div>
        </div>

    <div class="quiz-result"></div>



      </div><!-- 


      <div class="quiz">
  
      <h2 class="quiz-question">Q1: How do you spell "Red"?</h2>
      <ul data-quiz-question="1">
        <li class="quiz-answer" data-quiz-answer="a">a. Red</li>
        <li class="quiz-answer" data-quiz-answer="b">b. Reed</li>
        <li class="quiz-answer" data-quiz-answer="c">c. Req</li>
        <li class="quiz-answer" data-quiz-answer="d">d. Sed</li>
        <li class="quiz-answer" data-quiz-answer="e">e. Ded</li>
        <li class="quiz-answer" data-quiz-answer="f">f. Hed</li>
      </ul>
      
      <h2 class="quiz-question">Q2: How do you spell "Green"?</h2>
      <ul data-quiz-question="2">
        <li class="quiz-answer" data-quiz-answer="a">a. Greeen</li>
        <li class="quiz-answer" data-quiz-answer="b">b. Green</li>
        <li class="quiz-answer" data-quiz-answer="c">c. Gren</li>
        <li class="quiz-answer" data-quiz-answer="d">d. Grenn</li>
      </ul>
      
      <h2 class="quiz-question">Q3: How do you spell "Blue"?</h2>
      <ul data-quiz-question="3">
        <li class="quiz-answer" data-quiz-answer="a">a. Bluue</li>
        <li class="quiz-answer" data-quiz-answer="b">b. Bluee</li>
        <li class="quiz-answer" data-quiz-answer="c">c. Btue</li>
        <li class="quiz-answer" data-quiz-answer="d">d. Blue</li>
      </ul>
      
      <h2 class="quiz-question">Q4: How do you spell "HTML"?</h2>
      <ul data-quiz-question="4">
        <li class="quiz-answer" data-quiz-answer="a">a. MLTH</li>
        <li class="quiz-answer" data-quiz-answer="b">b. LMTH</li>
        <li class="quiz-answer" data-quiz-answer="c">c. HTML</li>
        <li class="quiz-answer" data-quiz-answer="d">d. HMTL</li>
      </ul>
      
      <h2 class="quiz-question">Q5: How do you spell "CSS"?</h2>
      <ul data-quiz-question="5">
        <li class="quiz-answer" data-quiz-answer="a">a. ASS</li>
        <li class="quiz-answer" data-quiz-answer="b">b. CAA</li>
        <li class="quiz-answer" data-quiz-answer="c">c. ASA</li>
        <li class="quiz-answer" data-quiz-answer="d">d. CSS</li>
      </ul>
      
      <h2 class="quiz-question">Q6: How do you spell "JavaScript"?</h2>
      <ul data-quiz-question="6">
        <li class="quiz-answer" data-quiz-answer="a">a. ScriptJava</li>
        <li class="quiz-answer" data-quiz-answer="b">b. JavaScript</li>
        <li class="quiz-answer" data-quiz-answer="c">c. JabaHutt</li>
        <li class="quiz-answer" data-quiz-answer="d">d. jQuery</li>
      </ul>
    </div>

    <div class="quiz-result"></div> -->
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery-easing/jquery.easing.min.js"></script>
    <script src="/scrollreveal/scrollreveal.min.js"></script>
    <script src="/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
    <script type="text/javascript">
      var Quiz = function(){
      var self = this;
      this.init = function(){
        self._bindEvents();
      }
      
      this.answerMapping = [
        { question: 1, map: {'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1 }}
      ];

      this.correctAnswers = [
        { question: 1, answer: 'a' },
        { question: 2, answer: 'b' },
        { question: 3, answer: 'd' },
        { question: 4, answer: 'c' },
        { question: 5, answer: 'd' },
        { question: 6, answer: 'b' },
      ]
      
      this._pickAnswer = function($answer, $answers){
        $answers.find('.quiz-answer').removeClass('active');
        $answer.addClass('active');
      }
      this._calcResult = function(){
        var numberOfCorrectAnswers = 0;
        $('[data-quiz-question]').each(function(i){
          var $this = $(this),
              chosenAnswer = $this.find('.quiz-answer.active').data('quiz-answer'),
              correctAnswer;
          
          for ( var j = 0; j < self.correctAnswers.length; j++ ) {
            var a = self.correctAnswers[j];
            if ( a.question == $this.data('quiz-question') ) {
              correctAnswer = a.answer;
            }
          }
          
          if ( chosenAnswer == correctAnswer ) {
            numberOfCorrectAnswers++;
            
            // highlight this as correct answer
            $this.find('.quiz-answer.active').addClass('correct');
          }
          else {
            $this.find('.quiz-answer[data-quiz-answer="'+correctAnswer+'"]').addClass('correct');
            $this.find('.quiz-answer.active').addClass('incorrect');
          }
        });
        if ( numberOfCorrectAnswers < 3 ) {
          return {code: 'bad', text: 'Poor spelling skills'};
        }
        else if ( numberOfCorrectAnswers == 3 || numberOfCorrectAnswers == 4 ) {
          return {code: 'mid', text: 'Moderate spelling skills'};
        }
        else if ( numberOfCorrectAnswers > 4 ) {
          return {code: 'good', text: 'Good spelling skills'};
        }
      }
      this._isComplete = function(){
        var answersComplete = 0;
        $('[data-quiz-question]').each(function(){
          if ( $(this).find('.quiz-answer.active').length ) {
            answersComplete++;
          }
        });
        if ( answersComplete >= 2 ) {
          return true;
        }
        else {
          return false;
        }
      }
      this._showResult = function(result){
        $('.quiz-result').addClass(result.code).html(result.text);
      }
      this._bindEvents = function(){
        $('.quiz-answer').on('click', function(){
          var $this = $(this),
              $answers = $this.closest('[data-quiz-question]');
          self._pickAnswer($this, $answers);
          if ( self._isComplete() ) {
            
            // scroll to answer section
            $('html, body').animate({
              scrollTop: $('.quiz-result').offset().top
            });
            
            self._showResult( self._calcResult() );
            $('.quiz-answer').off('click');
            
          }
        });
      }
    }
    var quiz = new Quiz();
    quiz.init();
    </script>

  </body>

</html>
